<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="threads" value="7"/>
    <add key="outputDir" value="D:\temp\StellarAddressGenerator"/>
    <!-- Alphabet = 234567 + letters-->
    <add key="prefixes" value="GABRIEL,GADAMNIT,GADDAMNIT,GAGALADY,GALLERY,GALVANIC,GAMBLER,GAMMARAY,GANGSTA,GANGSTER,GANYMEDE,GARBAGE,GARGAMEL,GARRISON,GASOLINE,GASSTATION,GASTATION,GATEWAY,GATHERIN,GAWGEOUS,GBUTTER,GDAMNIT,GDDAMNIT,GAAAACEMETERYOFFORGOTTENHEROCOINS" />
    <add key="blackholeFiller" value="X"/>
  </appSettings>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/></startup>
</configuration>
